body {
  height: 800px
  background-image: url("../img/b655e217-a636-41e5-89b4-510ffd8eba86.jpg");
  background-size: cover;
  background-size: 25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
h1,h2,h3,h4,h5, button, .amiibo-name{
    font-family: 'Bitter', serif;

}
#navbar{
    z-index: 1;
}

 #datos {border:1px solid #ccc;padding:10px;font-size:1em;}
        #datos tr:nth-child(even) {background:#ccc;}
        #datos td {padding:5px;}
        #datos tr.noSearch {background:White;font-size:0.8em;}
        #datos tr.noSearch td {padding-top:10px;text-align:right;}
        .hide {display:none;}
        .red {color:Red;}



.

    #ribbon{
    background-color: rgb(26 128 219);
    background-image: repeating-linear-gradient(45deg, #00000030, transparent 25px, rgb(5 22 66)5px, rgb(21 28 131 / 50%) 40px);
}
#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
 width: 147%;
    height: 147px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#birthday{
    background-color:rgb(251, 252, 252) ;
    position: relative;
    margin-top: -140px;
    z-index: 10;
   

}


#birthday img{
    position:relative;
   margin-top: -50px;
}
   

#games{
    background: rgb(26,128,219);
  
  
   
    margin-top: -20px;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}
#separator-amiibos{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-amiibos .content{
    background: ;
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#separator-amiibos-footer{
    height: 20vw;
}


#amiibos{
    background: rgb(26,128,219);
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size: 100%, auto;
}
.amiibo{
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.amiibo:hover{
    transform: scale();
}

.amiibo-name{
    background-color: rgba(0,0,0,0.4);
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

#play{   
    background: url(..);
    background-color: rgb(26,128,219);
    background-size: 40px 40px;
}

#footer{
    background: url();
    background-color: rgb(224, 144, 24);
    background-size: 50px 50px;
}
