<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <script src="https://kit.fontawesome.com/8da3236c92.js" crossorigin="anonymous"></script>
</head>
<body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">PROYECTO SAO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="entradasYsalidas">Inicio</a></li>
       <li class="nav-item"><a class="nav-link active" aria-current="page"href="home">carrito</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"href="usuario/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('//source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                
                <h1 class="text-white fs-3 fw-bolder">Proyecto  SAO </h1>
                <p class="text-white-50 mb-0">JG AUTOS</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div id="amiibos" class="px-5 pb-5 ">
        <div class="container">
            <div class="row">
                <h2 class="text-center text-white text-shadow h1"></h2>
            </div>
            <div class="row row-cols-1 row-cols-2  row-cols-md-2">
             
              <div class="col-sm">
                    <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>MISION</h2>
                        <p class="lead">Brindar las mejores soluciones en comercializacion de repuestos y servicio  para el cliente.</p>
                        <p class="mb-0">institucional y como alternativa de inversion en el sector del transporte; beneficiando con nuestra labor a nuestros clientes, empleados, proveedores, accionistas y comunidad. </p>
                    </div>
                </div>
                
              </div>
              <div class="col-sm">
                  <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>VISION </h2>
                        <p class="lead">Ser el taller de vehículos número uno en venta y en servicio en  la localidad.</p>
                        <p class="mb-0">ofreciendo a nuestros clientes una experiencia memorable para lograr exceder sus expectativas generando relaciones a largo plazo.</p>
                    </div>
                </div>
                 
                      </div>
              
            </div>
            
        </div>
       
    </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
               <div class="text-center my-0">
            <img class="/img-fluid rounded-circle mb-2" src=" /img/pexels-tima-miroshnichenko-6873076.jpg " alt="..." />    </div>
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
       
        </div>
        <!-- Content section-->
        <section class="py-5">


            <div id="amiibos" class="px-5 pb-5 ">
        <div class="container">
            <div class="row">
                <h2 class="text-center text-white text-shadow h1"></h2>
            </div>
            <div class="row row-cols-1 row-cols-2  row-cols-md-2">
             
              <div class="col-sm">
                    <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>QUIENES  SOMOS</h2>
                        <p class="lead">Nuestro taller de reparación Jg autos   es su taller de confianza para reparaciones de todo tipo.</p>
                        <p class="mb-0">Su seguridad dentro del vehículo sólo está garantizada cuando el automóvil no presenta ningún problema técnico durante los trayectos. Por eso, además de proporcionarle servicios de asistencia, le ofrecemos un servicio completo de inspeccion   asu  vehiculo con los  mayores estandares. </p>
                    </div>
                </div>
                
              </div>
              <div class="col-sm">
                <div class="row justify-content-center align-items-center">
        
        <div class="col-13">
          <div class="row justify-content-md-center">
            <div class="col p-12">
              <div class="text-dark ">   
                <div class="row">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2>Dónde encontrarnos </h2>
                        <p class="lead">Si prefieres consultarnos presencialmente te esperamos,</p>
                        <p class="mb-0">de lunes a viernes, de 10 a 14 horas; y los lunes y miércoles, de 15:30 a 17:30 horas, en el edificio jg  autos situado frente a la salida del centro comercial.</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.005116910448!2d-74.09842978551735!3d4.5931034438607306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99194bd090c5%3A0xa1e9d9c947fc8c3a!2sCl.%203a%20Sur%20%2319-78%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1624634844570!5m2!1ses!2sco" width="410" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
              
               
                </div><!--row-->
                <br>
                 </div><!--CARD-->
                </div><!--col-->
                 
              </div>
              
            </div>
            
        </div>
       
    </div>
               
        </section>
        <!-- Footer-->
        <footer class="bg-dark text-center text-white">
 </br>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1"  href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

            <div class="container"><p class="m-0 text-center text-white">JG autos Eduard Leonardo Acosta Roldan  Miguel  angel  Godoy Colombia S.A</p></div>
        </footer>
      
    



<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script> 
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/funciones.js"></script>
</body>
</html>